.checkbox-fancy, .radio-fancy {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  &.pretty {
    width: 24px;
    height: 24px;
  }
  background: url(checkboxes.png) no-repeat;
  border: none;
  cursor: pointer;
}

.disabled-checkbox-fancy {
  background-position: -72px 0;
  cursor: default;
}

// There is an issue where an input with ng-disabled=true does not properly apply 'disabled' class next
// to 'checkbox-fancy'. A solution is to wrap that input with an element that contains 'disabled' class.
.disabled {
  .checkbox-fancy {
    @extend .disabled-checkbox-fancy;
  }
}

.checkbox-fancy {
  background-position: 0 0;
  &.hover {
    background-position: -24px 0;
  }
  &.checked {
    background-position: -48px 0;
  }
  &.disabled {
    @extend .disabled-checkbox-fancy;
  }
  &.checked.disabled {
    background-position: -96px 0;
  }
}

.disabled-radio-fancy {
  background-position: -192px 0;
  cursor: default;
}

.disabled {
  .radio-fancy {
    @extend .disabled-radio-fancy;
  }
}

.radio-fancy {
  background-position: -120px 0;
  &.pretty {
    background-position: -240px 0;
  }
  &.hover {
    background-position: -144px 0;
    &.pretty {
      background-position: -266px 0;
    }
  }
  &.checked {
    background-position: -168px 0;
    &.pretty {
      background-position: -292px 0;
    }
  }
  &.disabled {
    @extend .disabled-radio-fancy;
  }
  &.checked.disabled {
    background-position: -216px 0;
  }
}

/* HiDPI support */
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .checkbox-fancy, .radio-fancy {
    background-image: url(checkboxes@2x.png);
    background-size: 316px 24px;
  }
}

.checkbox-fancy-text {
  top: 2px;
  position: relative;
  margin-left: 8px;
}
